<div fxLayout="column">
    <div class="container">
        <img src="../../../assets/images/Mask Group 1.png"  class="mainimage">
        <div class="icon">
            <img style="width: 2vw;" src="../../../assets/images/Group 4.png">
        </div>
        <div class="imagetext">
            <span class="text">Today's your day<br /> to shine</span>
        </div>
        <div class="overlay">
          <img class="person" src="../../../assets/images/Group 1.png" alt="your-image-2-description">
        </div>
    </div>
    <div class="second" fxLayout="row">
        <div style="width: 40%;" fxLayout="column" fxLayoutGap="5%">
            <div>
                <span style="color: #4579F5; text-transform: uppercase; font-weight: 500; font-size: 1vw;">welcome</span>
            </div>
            <div>
                <span style="color: #273B60; font-weight: bold; font-size: 2.5vw; letter-spacing: 0.12vw;">Ready to help <br />you in your <br/>projects!</span>
            </div>
            <div>
                <span style="color: #4E535C; font-size: 1.3vw;">Our sales team will get in touch <br />to better understand your needs,</span>
            </div>
            <div fxLayout="row" fxLayoutGap="3%">
                <div>
                    <button mat-flat-button style="background-color: #377DFF; color: #ffff; height: 5vh;" fxLayoutAlign="center center">Start Now</button>
                </div>
                <div>
                    <button mat-flat-button style="background-color: #ffff; color: #377DFF; border-color: #377DFF; border-style: groove; height: 5vh;" fxLayoutAlign="center center">Contact Sales</button>
                </div>
            </div>
        </div>
        <div style="width: 60%; margin-bottom: 4vh;" fxLayout="column" fxLayoutGap="5%">
            <div fxLayout fxLayoutAlign="end end" fxLayoutGap="5%">
                <div>
                    <mat-card class="card" >
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">Accounts</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="card">
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge2.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">Roles</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="card">
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge1.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">Integration</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div fxLayout  fxLayoutAlign="end end" fxLayoutGap="5%">
                <div>
                    <mat-card class="card">
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge4.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">Chat Bots</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="card">
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge3.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">In-App</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="card">
                        <div fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="center center">
                            <div>
                                <img style="width: 6vw;" src="../../../assets/images/badge5.png">
                            </div>
                            <div>
                                <span style="color: #273B60; font-size: 1.3vw; font-weight: 500;">Knowledge</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- <div class="second-half">
    <img src="../../../assets/images/Group 1.png" alt="your-image-2-description">
  </div> -->